html {
    scroll-behavior: smooth;
}

.text {
    color: white;
    font-size: large;
}

.text:hover {
    color: rgb(150, 70, 200);
    transition: 0.3s ease
}

h1 {
    color: white;
    text-decoration: underline;
    text-decoration-color: rgb(100, 0, 150);
    -webkit-text-decoration-color: rgb(100, 0, 150);
    font-family: 'Courier New';
}